@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf) format("truetype"); }
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format("truetype"); }
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format("truetype"); }
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format("truetype"); }
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIqCWcynf_cDxXwCLxiixG1c.ttf) format("truetype"); }
/*! normalize.css commit fe56763 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(55, 58, 60);
  background-color: rgb(255, 255, 255); }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }

a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: rgb(255, 255, 0);
  color: rgb(0, 0, 0); }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid rgb(192, 192, 192);
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

[tabindex="-1"]:focus {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted rgb(129, 138, 145); }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

a {
  color: rgb(2, 117, 216);
  text-decoration: none; }

a:focus, a:hover {
  color: rgb(1, 76, 140);
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle; }

[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

table {
  background-color: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: rgb(129, 138, 145);
  text-align: left;
  caption-side: bottom; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  -webkit-border-radius: 0;
          border-radius: 0; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  -webkit-appearance: none; }

output {
  display: inline-block; }

html,
body {
  height: 100%; }

html {
  background-color: rgb(255, 255, 255); }

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  color: rgb(0, 0, 0);
  font-weight: 300;
  scroll-behavior: smooth;
  overflow-x: hidden; }

a {
  color: rgb(75, 90, 220);
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink; }
  a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0); }

.break:after {
  content: '\A';
  white-space: pre; }

svg {
  fill: currentColor; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px; }

.header {
  position: relative;
  padding-top: 20px;
  background-color: rgb(48, 59, 155); }
  .header__blocks {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px; }
  .header__block_wide {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .header__phone a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 300; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  display: none; }
  .overlay.active {
    display: block; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .logo__link {
    display: inline-block;
    vertical-align: middle;
    background: rgb(255, 255, 255);
    padding: 22px 42px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0.8px 0.6px 59.4px 0.6px rgba(14, 26, 53, 0.15);
            box-shadow: 0.8px 0.6px 59.4px 0.6px rgba(14, 26, 53, 0.15); }
  .logo__pic {
    display: block;
    max-width: 95px;
    max-height: 67px;
    margin-left: auto;
    margin-right: auto;
    height: auto; }

.hamburger {
  position: relative;
  display: none;
  width: 24px;
  height: 20px;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size: 0.875em;
  margin-left: 20px;
  /* Text meant only for screen readers. */ }
  .hamburger:focus {
    outline: none; }
  .hamburger::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: -webkit-calc(20px / 2);
    top: calc(20px / 2);
    left: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .hamburger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: -webkit-calc(20px / 2);
    top: calc(20px / 2);
    left: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .hamburger::after {
    -webkit-box-shadow: 0 -webkit-calc(20px / 2) 0 0 rgb(255, 255, 255), 0 -webkit-calc(20px / -2) 0 0 rgb(255, 255, 255);
            box-shadow: 0 calc(20px / 2) 0 0 rgb(255, 255, 255), 0 calc(20px / -2) 0 0 rgb(255, 255, 255); }
  .hamburger__screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden; }
  .hamburger.opened {
    z-index: 11; }
    .hamburger.opened::before, .hamburger.opened::after {
      background-color: rgb(48, 59, 155); }
    .hamburger.opened::after {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-box-shadow: none;
              box-shadow: none; }
    .hamburger.opened::before {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.menu__item_mobile {
  display: none; }

.menu__link {
  display: block;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  font-weight: 400; }
  .menu__link:hover {
    text-decoration: underline; }

.menu__title {
  color: rgb(48, 59, 155);
  font-size: 14px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase; }

.menu__questions {
  display: none; }

.menu__phone, .menu__email {
  position: relative;
  padding-left: 30px; }
  .menu__phone a, .menu__email a {
    color: rgb(48, 59, 155);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; }
  .menu__phone::after, .menu__email::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 15px;
    height: 15px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.menu__phone::after {
  background: url('data:image/svg+xml; charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzU1ODRmZiI+PHBhdGggZD0iTTE2MDAgMTI0MHEwIDI3LTEwIDcwLjV0LTIxIDY4LjVxLTIxIDUwLTEyMiAxMDYtOTQgNTEtMTg2IDUxLTI3IDAtNTMtMy41dC01Ny41LTEyLjUtNDctMTQuNS01NS41LTIwLjUtNDktMThxLTk4LTM1LTE3NS04My0xMjctNzktMjY0LTIxNnQtMjE2LTI2NHEtNDgtNzctODMtMTc1LTMtOS0xOC00OXQtMjAuNS01NS41LTE0LjUtNDctMTIuNS01Ny41LTMuNS01M3EwLTkyIDUxLTE4NiA1Ni0xMDEgMTA2LTEyMiAyNS0xMSA2OC41LTIxdDcwLjUtMTBxMTQgMCAyMSAzIDE4IDYgNTMgNzYgMTEgMTkgMzAgNTR0MzUgNjMuNSAzMSA1My41cTMgNCAxNy41IDI1dDIxLjUgMzUuNSA3IDI4LjVxMCAyMC0yOC41IDUwdC02MiA1NS02MiA1My0yOC41IDQ2cTAgOSA1IDIyLjV0OC41IDIwLjUgMTQgMjQgMTEuNSAxOXE3NiAxMzcgMTc0IDIzNXQyMzUgMTc0cTIgMSAxOSAxMS41dDI0IDE0IDIwLjUgOC41IDIyLjUgNXExOCAwIDQ2LTI4LjV0NTMtNjIgNTUtNjIgNTAtMjguNXExNCAwIDI4LjUgN3QzNS41IDIxLjUgMjUgMTcuNXEyNSAxNSA1My41IDMxdDYzLjUgMzUgNTQgMzBxNzAgMzUgNzYgNTMgMyA3IDMgMjF6Ii8+PC9zdmc+'); }

.menu__email::after {
  background: url('data:image/svg+xml; charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzU1ODRmZiI+PHBhdGggZD0iTTE3OTIgNzEwdjc5NHEwIDY2LTQ3IDExM3QtMTEzIDQ3aC0xNDcycS02NiAwLTExMy00N3QtNDctMTEzdi03OTRxNDQgNDkgMTAxIDg3IDM2MiAyNDYgNDk3IDM0NSA1NyA0MiA5Mi41IDY1LjV0OTQuNSA0OCAxMTAgMjQuNWgycTUxIDAgMTEwLTI0LjV0OTQuNS00OCA5Mi41LTY1LjVxMTcwLTEyMyA0OTgtMzQ1IDU3LTM5IDEwMC04N3ptMC0yOTRxMCA3OS00OSAxNTF0LTEyMiAxMjNxLTM3NiAyNjEtNDY4IDMyNS0xMCA3LTQyLjUgMzAuNXQtNTQgMzgtNTIgMzIuNS01Ny41IDI3LTUwIDloLTJxLTIzIDAtNTAtOXQtNTcuNS0yNy01Mi0zMi41LTU0LTM4LTQyLjUtMzAuNXEtOTEtNjQtMjYyLTE4Mi41dC0yMDUtMTQyLjVxLTYyLTQyLTExNy0xMTUuNXQtNTUtMTM2LjVxMC03OCA0MS41LTEzMHQxMTguNS01MmgxNDcycTY1IDAgMTEyLjUgNDd0NDcuNSAxMTN6Ii8+PC9zdmc+'); }

.menu__email a {
  text-decoration: underline; }
  .menu__email a:hover {
    text-decoration: none; }

.title {
  margin-bottom: 20px;
  color: rgb(14, 26, 53);
  font-size: 60px;
  font-weight: 100;
  text-align: center; }
  .title_white {
    color: rgb(255, 255, 255); }

.promo {
  margin-bottom: 120px;
  text-align: center; }
  .promo__text {
    max-width: 1069px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: rgb(144, 175, 255);
    font-size: 20px;
    font-weight: 300; }
  .promo__form {
    position: relative;
    max-width: 650px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    -webkit-border-radius: 24px;
            border-radius: 24px;
    overflow: hidden; }
  .promo__field, .promo__submit {
    width: 50%;
    border: none; }
  .promo__submit {
    width: 55%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-border-radius: 24px;
            border-radius: 24px;
    padding: 13px 15px;
    background-color: rgb(85, 132, 255);
    color: rgb(255, 255, 255);
    font-weight: 700; }
  .promo__field {
    padding: 11px 35px;
    color: rgb(0, 0, 0); }
  .promo__image {
    text-align: center;
    background-image: url(../images/promo-image-2.png);
    background-position: right -100px;
    background-repeat: no-repeat;
    -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
            transform: translateY(80px); }
    .promo__image img {
      max-width: 100%; }

.benefits {
  margin-bottom: 80px; }
  .benefits__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .benefits__col {
    width: 25%; }
  .benefits__item {
    position: relative;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center; }
    .benefits__item::after {
      content: "";
      position: absolute;
      top: 30%;
      left: 75%;
      display: block;
      width: 50%;
      height: 1px;
      opacity: 0.3;
      background-color: rgb(132, 146, 175); }
    .benefits__item_automatic {
      background-image: url(../images/benefits-1.png); }
      .benefits__item_automatic::before {
        content: "";
        position: absolute;
        display: block;
        top: 30%;
        right: 75%;
        width: 1000%;
        height: 1px;
        opacity: 1;
        background-color: rgb(75, 90, 220); }
    .benefits__item_increase {
      background-image: url(../images/benefits-2.png); }
    .benefits__item_reduce {
      background-image: url(../images/benefits-3.png); }
    .benefits__item_planning {
      background-image: url(../images/benefits-4.png); }
      .benefits__item_planning::after {
        width: 1000%;
        opacity: 1;
        background-color: rgb(75, 90, 220); }
  .benefits__text {
    color: rgb(14, 26, 53);
    font-weight: 700; }

.video {
  position: relative;
  background-image: url(../images/video.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 824px; }
  .video .container {
    height: 100%; }
  .video__inner {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .video__play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 700; }
    .video__play:hover {
      color: rgb(255, 255, 255); }
    .video__play span {
      color: rgb(255, 255, 255);
      position: relative;
      padding-top: 15px; }
      .video__play span::after, .video__play span::before {
        content: "";
        position: absolute;
        display: block;
        opacity: 0.66; }
      .video__play span::after {
        width: 88px;
        height: 88px;
        border: 2px solid rgb(255, 255, 255);
        bottom: 100%;
        -webkit-border-radius: 100%;
                border-radius: 100%; }
      .video__play span::before {
        bottom: 65px;
        left: 37px;
        border: 15px solid transparent;
        border-left-color: rgb(255, 255, 255);
        border-left-width: 20px; }
  .video__desc {
    padding-top: 180px;
    max-width: 490px;
    display: inline-block;
    color: rgb(255, 255, 255); }
    .video__desc .title {
      text-align: left; }
  .video__text {
    font-size: 24px; }
  .video__row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    margin-left: -25px;
    margin-right: -25px;
    padding-bottom: 30px;
    z-index: 3;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll; }
    .video__row::-webkit-scrollbar {
      display: none; }
  .video__col {
    width: 25%;
    min-width: 323px;
    padding: 0 25px; }
  .video__link {
    display: inline-block;
    position: relative; }
    .video__link::after {
      content: "";
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      background-image: url(../images/play.png); }
  .video__image {
    max-width: 100%; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.nam {
  height: 300px;
  background-image: url(../images/2.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform; }

@media screen and (max-width: 992px) and (min-width: 768px) {
    .hamburger.opened {
      margin-left: 205px; }
  .menu {
    width: 400px; }
    .title {
      font-size: 48px; }
    .benefits {
      margin-bottom: 40px; }
      .benefits__row {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
      .benefits__col {
        width: 50%; }
      .benefits__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 30px;
        padding-top: 0;
        padding-left: 110px;
        background-position: left center;
        min-height: 80px; }
        .benefits__item::after, .benefits__item::before {
          display: none; }
      .benefits__text {
        text-align: left; } }

@media (min-width: 1660px) {
    .header__phone {
      -webkit-transform: translateX(70px);
          -ms-transform: translateX(70px);
              transform: translateX(70px); }
    .logo {
      -webkit-transform: translateX(-70px);
          -ms-transform: translateX(-70px);
              transform: translateX(-70px); } }

@media screen and (max-width: 768px) {
    .header__phone a {
      font-size: 18px; }
    .hamburger.opened {
      position: absolute;
      top: 20px;
      margin-left: 120px; }
  .menu {
    width: 300px; }
    .title {
      font-size: 24px; }
    .promo {
      margin-bottom: 70px; }
      .promo__text {
        font-size: 13px; }
      .promo__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 0; }
      .promo__field, .promo__submit {
        width: auto; }
      .promo__field {
        -webkit-border-radius: 24px;
                border-radius: 24px;
        text-align: center;
        margin-bottom: 10px; }
      .promo__submit {
        position: static;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0); }
      .promo__image {
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px); }
    .benefits__row {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .benefits__col {
      width: 50%; }
    .benefits__item {
      -webkit-background-size: 30px 30px;
              background-size: 30px;
      padding-top: 50px;
      margin-bottom: 30px; }
      .benefits__item::after, .benefits__item::before {
        display: none; }
    .benefits__text {
      font-size: 13px; } }

@media screen and (max-width: 992px) {
    .logo {
      position: relative;
      z-index: 11; }
      .logo__link {
        padding: 4.5px 15px;
        -webkit-box-shadow: none;
                box-shadow: none; }
      .logo__pic {
        max-width: 76px;
        max-height: 54px; }
    .hamburger {
      display: inline-block; }
  .menu {
    position: absolute;
    top: -20px;
    padding-top: 100px;
    padding-left: 5%;
    padding-bottom: 30px;
    left: -5%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.18);
            box-shadow: 5px 8.7px 20px rgba(0, 0, 0, 0.18); }
    .menu.active {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      background: rgb(255, 255, 255);
      z-index: 10; }
    .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px; }
    .menu__item + .menu__item {
      margin-top: 10px; }
    .menu__item_mobile {
      display: block; }
    .menu__item_hide {
      display: none; }
    .menu__link {
      font-size: 14px;
      color: rgb(134, 140, 145); }
      .menu__link:hover {
        color: rgb(48, 59, 155);
        text-decoration: none; }
    .menu__questions {
      display: block; }
    .promo__image {
      background-image: none; } }

@media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .nam {
    background-image: url(../images/2@2x.jpg); } }
