.facts {
	background: #fff;
	padding-top: 55px;
	margin-top: -200px;

	&__inner {
		display: flex;
		padding-top: 100px;
		background-color: #f6f7fa;
	}

	&__image {
		width: 40%;
		position: relative;
		left: -10%;

		img {
			max-width: 100%;
		}
	}

	.title {
		position: absolute;
		left: 40%;
		padding-top: 70px;
	}

	&__desc {
		padding-top: 200px;
		width: 53%;
		position: relative;

		.title {
			text-align: left;
		}
	}

	&__numbers {
		display: flex;
		justify-content: space-between;
	}

	&__number {
		color: #4b5adc;
		font-size: 72px;
		font-weight: 700;
	}

	&__item {

	}

	&__item + &__item {
	}

	&__text {
		color: #0e1a35;
		font-size: 18px;
		font-weight: 700;
	}

	@media (max-width: 1200px) {
		margin-top: 0;
		padding-top: 0;

		&__inner {
			flex-wrap: wrap;
		}

		.title {
			order: -1;
			width: 100%;
			position: relative;
			left: 0;
			padding-top: 0;

		}

		&__numbers {
			flex-wrap: wrap;
		}
		&__item {
			width: 50%;
			margin-bottom: 30px;
		}

		&__desc {
			padding-top: 0;
		}
	}

	@media (max-width: 1200px) and (min-width: 768px) {

		&__inner {
			padding-top: 60px;
		}
	}

	@media (max-width: 768px) {

		&__inner {
			padding-top: 25px;
			flex-direction: column;
			align-items: center;
		}

		&__image {
			left: 0;
			width: 60%;
		}

		&__item {
			text-align: center;
		}

		&__number {
			font-size: 36px;
		}

		&__text {
			margin-left: auto;
			margin-right: auto;
			max-width: 100px;
			font-size: 13px;
		}

	}
}