.header {
	position: relative;
	padding-top: 20px;
	background-color: #303b9b;

	&__blocks {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}

	&__block {

		&_wide {
			flex-grow: 1;
		}
	}

	&__phone {
		a {
			color: #fff;
			font-size: 30px;
			font-weight: 300;
			&:hover{
				color: #5584ff;
			}
		}
	}

	@media (min-width: 1660px) {
		&__phone {
			transform: translateX(70px);
		}
	}

	@media screen and (max-width: $screen-sm) {

		&__phone {

			a {
				font-size: 18px;
			}
		}
	}
}
