.logo {
	display: flex;
	justify-content: center;

	&__link {
		display: inline-block;
		vertical-align: middle;
		background: #fff;
		padding: 22px 42px;
		border-radius: 10px;
		box-shadow: 0.8px 0.6px 59.4px 0.6px rgba(14, 26, 53, 0.15);
	}

	&__pic {
		display: block;
		max-width: 95px;
		max-height: 67px;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}

	@media (min-width: 1660px) {
		transform: translateX(-70px);

	}

	@media screen and (max-width: $screen-md) {
		position: relative;
		z-index: 11;

		&__link {
			padding: 4.5px 5px;
			box-shadow: none;
		}

		&__pic {
			max-width: 76px;
			max-height: 54px;
		}
	}
}