.social{

	&__list{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__item{
		display: inline-block;
		vertical-align: middle;
		height: 32px;
		width: 32px;
		border-radius: 100%;
		background: #fff;
		overflow: hidden;
		margin-bottom: 10px;
		&:hover {
			background-color: #0e1a35;
		}
	}

	&__link{
		display: block;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 5px;

		&_vk{
			background-image: url('https://icongr.am/simple/vk.svg?size=18&color=4b5adc');

			&:hover{
				background-image: url('https://icongr.am/simple/vk.svg?size=18&color=ffffff');
			}
		}

		&_fb{
			background-image: url('https://icongr.am/fontawesome/facebook.svg?size=18&color=4b5adc');

			&:hover{
				background-image: url('https://icongr.am/fontawesome/facebook.svg?size=18&color=ffffff');
			}
		}

		&_inst{
			background-image: url('https://icongr.am/simple/instagram.svg?size=18&color=4b5adc');

			&:hover{
				background-image: url('https://icongr.am/simple/instagram.svg?size=18&color=ffffff');
			}
		}

		&_twitter{
			background-image: url('https://icongr.am/simple/twitter.svg?size=18&color=4b5adc');

			&:hover{
				background-image: url('https://icongr.am/simple/twitter.svg?size=18&color=ffffff');
			}
		}
	}

	@media (max-width: 1653px) {

		&__link{
			padding-top: 7px;
		}
	}
}